body {
    background-color: darkslateblue;
    margin: 0px
}

.bgstrip {
    background-color: rgb(126, 155, 239);
    align-self: center;
    text-align: center;
    width: 80%;
    height: 100%;
    margin-left: 10%;
    margin-right: 10%;
    border: 200px rgb(126, 155, 239);
    position: absolute
}

h1 {
    color: white;
    border:2px dotted red
}

 ul {
    width: fit-content;
    margin: auto;
    text-align: left;
    border: 2px dotted rgb(7, 1, 1)
}